Repository falsepopsky/forbidden-duel-links, changes with the labels that .github/labeler.yaml gives for each.
All labels: 🌐 web, 📚 docs, 💽 db, ⚙️ configs

.github/labeler.yaml:

"🌐 web":
  - changed-files:
      - any-glob-to-any-file: app/**
"📚 docs":
  - changed-files:
      - any-glob-to-any-file: README.md
"💽 db":
  - changed-files:
      - any-glob-to-any-file:
          - prisma/**
          - lib/**
"⚙️ configs":
  - changed-files:
      - any-glob-to-any-file:
          - ".prettierrc"
          - next.config.js
          - ".eslintrc.json"
          - ".devcontainer/**"

chore: bump versions
  .devcontainer/devcontainer.json
  .nvmrc
  package.json
  pnpm-lock.yaml
Labels: ⚙️ configs

db: add rush banlist `24/09/2024` and speed `05/08/2024`
  prisma/dev.db
Labels: 💽 db

db: add speed banlist `08/10/2024`
  package.json
  pnpm-lock.yaml
  prisma/dev.db
Labels: 💽 db

db: update at 2025 banlist
  app/rush/page.tsx
  app/speed/page.tsx
  prisma/dev.db
Labels: 🌐 web, 💽 db

chore: bump deps and versions
  .devcontainer/devcontainer.json
  .github/workflows/ci.yaml
  .nvmrc
  package.json
  pnpm-lock.yaml
Labels: ⚙️ configs

ci: fix corepack and bump node
  .devcontainer/devcontainer.json
Labels: ⚙️ configs

deps: bump deps
  package.json
  pnpm-lock.yaml
Labels: none

chore: update to next 15 and tailwind v4
  .eslintrc.json
  .nvmrc
  app/Menu.tsx
  app/NavBar.tsx
  app/Shared.tsx
  app/about/page.tsx
  app/globals.css
  app/not-found.tsx
  app/page.tsx
  app/rush/[slug]/page.tsx
  app/rush/page.tsx
  app/speed/[slug]/page.tsx
  app/speed/page.tsx
  eslint.config.mjs
  postcss.config.js
  tailwind.config.ts
  tsconfig.json
Labels: 🌐 web, ⚙️ configs
